{% extends "headfoot.html" %}
{% block title %} | {{ listing.title }}{% endblock title %}
{% load static %}
{% load humanize %}
{% block slider %} 
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{ listing.photo_main.url }});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
            <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
            <h1 class="mb-2">{{ listing.title }}</h1>
            <p class="mb-5"><strong class="h2 text-success font-weight-bold">Rs.{{ listing.price | intcomma }}</strong></p>
          </div>
        </div>
      </div>
    </div>
      <div class="container">{% include 'parser/alert.html' %}</div>
    <div class="site-section site-section-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <div class="slide-one-item home-slider owl-carousel">
                <div><img src="{{ listing.photo_main.url }}" alt="Image" class="img-fluid"></div>
                <div><img src="{{ listing.photo1.url }}" alt="Image" class="img-fluid"></div>
              </div>
            </div>
            <div class="bg-white property-body border-bottom border-left border-right">
              <div class="row mb-5">
                <div class="col-md-6">
                  <strong class="text-success h1 mb-3">Rs.{{ listing.price | intcomma }}</strong>
                </div>
                <div class="col-md-6">
                  <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                  <li>
                    <span class="property-specs">Beds</span>
                    <span class="property-specs-number">{{ listing.bedrooms }} <sup>+</sup></span>
                    
                  </li>
                  <li>
                    <span class="property-specs">Baths</span>
                    <span class="property-specs-number">{{ listing.bathrooms }} </span>
                    
                  </li>
                  <li>
                    <span class="property-specs">SQ FT</span>
                    <span class="property-specs-number">{{ listing.area | intcomma }}</span>
                    
                  </li>
                </ul>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4 col-lg-3 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">City</span>
                  <strong class="d-block">{{ listing.city}}</strong>
                </div>
                <div class="col-md-4 col-lg-3 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
                  <strong class="d-block">{{ listing.types }}</strong>
                </div>
                <div class="col-md-4 col-lg-3 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Year Built</span>
                  <strong class="d-block">{{ listing.build_year |date:'F Y' }}</strong>
                </div>
                <div class="col-md-6 col-lg-3 text-center border-bottom border-top py-3">
                  <span class="d-inline-block text-black mb-0 caption-text">Price/Sqft</span>
                  <strong class="d-block">Rs.{{rate}}</strong>
                </div>
              </div>
              <h2 class="h4 text-black">More Info</h2>
              <p>This is a house made for the purpose of living happily with your family at a prime location of Nepal. This house is strongly built and can hold all your family member with sufficient amount of bedrooms and bathrooms.</p>

              <div class="row no-gutters mt-5">
                <div class="col-12">
                  <h2 class="h4 text-black mb-3">Gallery</h2>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo_main.url }}" class="image-popup gal-item"><img src="{{ listing.photo_main.url }}" alt="Image" class="img-fluid"></a>
                </div>
                	{% if listing.photo1 %}

                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo1.url }}" class="image-popup gal-item"><img src="{{ listing.photo1.url }}" alt="Image" class="img-fluid"></a>
                </div>
                {% endif %}
                {% if listing.photo2 %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo2.url }}" class="image-popup gal-item"><img src="{{ listing.photo2.url }}" alt="Image" class="img-fluid"></a>
                </div>
                {% endif %}
                {% if listing.photo3 %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo3.url }}" class="image-popup gal-item"><img src="{{ listing.photo3.url }}" alt="Image" class="img-fluid"></a>
                </div>
                {% endif %}
                {% if listing.photo4 %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo4.url }}" class="image-popup gal-item"><img src="{{ listing.photo4.url }}" alt="Image" class="img-fluid"></a>
                </div>
                {% endif %}
                {% if listing.photo5 %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <a href="{{ listing.photo5.url }}" class="image-popup gal-item"><img src="{{ listing.photo5.url }}" alt="Image" class="img-fluid"></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="bg-white widget border rounded">
                <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Property Realtor</h5>
                  <h4 style="font-weight:bold;">{{ listing.realtor }}</h4>
                  <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Make an Inquery</button>
                </div>
                
                <a href="{% url 'pdf_listing' listing.id %}"><h4>Export as PDF</h4></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>

      <div class="container">

        <div class="row">
          <div class="col-12">
            <div class="site-section-title mb-5">
              <h2>Related Properties</h2>
            </div>
          </div>
        </div>
      
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="property-details.html" class="property-thumbnail">
                <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Sale</span>
                  <span class="offer-type bg-success">Rent</span>
                </div>
                <img src="../static/images/hero_bg_1.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <!-- <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a> -->
                <h2 class="property-title"><a href="property-details.html">20 anna Ghar</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> kathmandu</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs. 2,65,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Beds</span>
                    <span class="property-specs-number">2 <sup>+</sup></span>
                    
                  </li>
                  <li>
                    <span class="property-specs">Baths</span>
                    <span class="property-specs-number">2</span>
                    
                  </li>
                  <li>
                    <span class="property-specs">SQ FT</span>
                    <span class="property-specs-number">7,000</span>
                    
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="property-details.html" class="property-thumbnail">
                <div class="offer-type-wrap">
                  <span class="offer-type bg-danger">Sale</span>
                  <span class="offer-type bg-success">Rent</span>
                </div>
                <img src="../static/images/img_1.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <!-- <a href="#" class="property-favorite active"><span class="icon-heart-o"></span></a> -->
                <h2 class="property-title"><a href="property-details.html">Khusi Niwas</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> Swyambhu, Kathmandu</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs.1,65,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Beds</span>
                    <span class="property-specs-number">2 <sup>+</sup></span>
                    
                  </li>
                  <li>
                    <span class="property-specs">Baths</span>
                    <span class="property-specs-number">2</span>
                    
                  </li>
                  <li>
                    <span class="property-specs">SQ FT</span>
                    <span class="property-specs-number">1,620</span>
                    
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="property-details.html" class="property-thumbnail">
                <div class="offer-type-wrap">
                  <span class="offer-type bg-info">Lease</span>
                </div>
                <img src="../static/images/img_3.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="p-4 property-body">
                <!-- <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a> -->
                <h2 class="property-title"><a href="property-details.html">10 anna Ghar on sale</a></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> kathmandu</span>
                <strong class="property-price text-primary mb-3 d-block text-success">Rs.22,65,500</strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">
                  <li>
                    <span class="property-specs">Beds</span>
                    <span class="property-specs-number">2 <sup>+</sup></span>
                    
                  </li>
                  <li>
                    <span class="property-specs">Baths</span>
                    <span class="property-specs-number">2</span>
                    
                  </li>
                  <li>
                    <span class="property-specs">SQ FT</span>
                    <span class="property-specs-number">5,500</span>
                    
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contacts' %}" method="POST">{% csrf_token %}
          {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{user.id}}">
              {% else %}
                <input type="hidden" name="user_id" value="0">  
          
          {% endif %}
          <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
          <input type="hidden" name="realtor_phone" value="{{ listing.realtor.phone }}">
          <input type="hidden" name="listing_id" value="{{ listing.id }}">
          <div class="form-group">
            <label for="property_name" class="col-form-label">Property</label>
            <input name="listing" type="text" class="form-control" id="name" value="{{listing.title}}">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Your Name</label>
            <input name="name" type="text" class="form-control" id="recipient-name" {% if user.is_authenticated %}
              value="{{ user.first_name }} {{ user.last_name}}" 
            {% endif %}>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Your Email</label>
            <input name="email" type="email" class="form-control" id="recipient-name" {% if user.is_authenticated %}
              value="{{ user.email }}" 
            {% endif %}>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Your Phone</label>
            <input name="phone" type="text" class="form-control" id="recipient-name" {% if user.is_authenticated %}
              value="{{ listing.realtor.phone }}" 
            {% endif %}>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message</label>
            <textarea name="message" class="form-control" id="message-text"></textarea>
          </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send Inquery</button>
      </div>
        </form>
      </div>
    
    </div>
  </div>
</div>
</div>
{% endblock slider %}